[submodule "c_dsa"]
	path = c_dsa
	url = https://github.com/0xGlitchbyte/c_dsa
[submodule "gblib"]
	path = gblib
	url = https://github.com/0xGlitchbyte/gblib.git
[submodule "dot-game"]
	path = dot-game
	url = https://github.com/0xGlitchbyte/dot-game.git
[submodule "DrNES"]
	path = DrNES
	url = https://github.com/0xGlitchbyte/DrNES.git
